#resultListDiv {
  padding: 0;
  list-style-type: none;
}

#myInput {
  width: 100%;
}
#resultListDiv > li {
  color: blue;
  border-bottom: 0.3px grey solid;
  margin: 3px 0;
  padding: 5px 0;
}
.my-page-wrapper {
  background-color: #e8d2ff;
  border-radius: 20px;
}
.hide {
  display: none;
}
.show {
  display: block;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#loader1,
#loader2 {
  animation: spin linear 1s infinite;
  height: 50px;
}

/* ====================companyInfo======================== */

#companyLogo > img {
  width: 80px;
}

h3 {
  padding: 0;
  margin: 0;
}

.stockPrice {
  background-color: rgb(0, 255, 0);
  padding: 5px;
  border-radius: 30px;
}

#stockPriceChange {
  color: white;
  padding: 5px;
  border-radius: 30px;
}
.positive {
  background-color: greenyellow;
  justify-self: flex-end;
}
.negative {
  background-color: red;
}

li img {
  width: 50px;
  margin-right: 15px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li > div {
  margin-left: 5px;
  border-radius: 10px;
  padding: 5px;
}
/* ====================marquee======================== */

#marqueeDiv {
  background-color: rgb(168, 235, 168);
  display: flex;
  width: 100%;
  margin: 20px;
  border-radius: 10px;
  border: black 1px solid;
  padding: 10px;
}

#marqueeHeader {
  display: flex;
  overflow: hidden;
}

#marqueeLine {
  display: flex;
  animation: scroll 25s linear infinite;
}

#marqueeCell {
  display: flex;
  padding: 2px;
  border: black 0.5px solid;
  margin-left: 15px;
  border-radius: 5px;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-80%);
  }
}
.rightCell {
  margin: 2px;
  border-radius: 10%;
  background-color: rgb(41, 223, 41);
  padding: 0 3px;
}
.leftCell {
  padding: 0 3px;
  margin: 2px;
  background-color: rgb(92, 212, 92);
}

mark {
  padding: 0;
  background-color: orange;
}
